body {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  list-style: none;
  li {
    padding: 10px 20px;
    border-radius: 5px;
    a {
      font-size: 13px;
    }
  }
  li:hover {
    background: #000;
    a {
      color: #fff;
    }
  }
}
a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.header {
  box-shadow: 0px 0px 5px 4px #00000021;
}
.container {
  padding: 0 200px;
}
.d-flex {
  display: flex;
}
.logo {
  align-items: center;
}
.menu-header {
  padding: 18px 0;
  align-items: center;
  justify-content: space-between;
}
.icon-logo {
  background: #1b3bde;
  padding: 14px;
  margin-right: 14px;
  border-radius: 5px;
}
.logo-text-1 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #1b3bde;
}
.logo-text-2 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: #1b3bde;
}
.phone {
  font-size: 15px;
}

.ferst {
  background: url("img/fbg.jpg");
}
.title {
  height: 300px;
  width: 500px;
}

.form {
  height: 300px;
  width: 400px;
}
